* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: ntatabularnumbers, nta, sans-serif;
  background: #222;
  margin: 10px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.75rem;
}

.username {
  color: rgba(255,255,255,0.6);
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.card-header {
  display: flex;
}

.card-label {
  display: inline-block;
  vertical-align: middle;
  flex: 1;
}

.status-holder {
  width: 120px;
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  color: white;
}

.status-holder span {
  display: block;
}

.status {
  padding: 0.15rem 0.45rem;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.base-sync {
  padding: 0.15rem 0.45rem;
  border-radius: 0 0 4px 4px;
}

.success {
  background-color: green;
}

.failure, .error {
  background-color: #BF1E2D;
}

.not-mergeable {
  background-color: #000;
}

.pending {
  background-color: orange;
}

#pulls {
  list-style: none;
  padding: 0;
  font-size: 1.5em;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

#pulls li {
  background: #9FA098;
  padding: 1rem;
  border-radius: 3px;
  min-width: 300px;
  box-shadow: 0 3px 0 rgba(0,0,0,0.3);
  margin: 1rem;
  flex: 0 0 calc(20% - 2rem);
}

#pulls li.failed {
  background: #e90f05;
}

#pulls li.age-fresh.under-review {
  background: #0C56E8;
}

#pulls li.age-aging.under-review {
  background: #370CE8;
}

#pulls li.age-old.under-review {
  background: #7E0DFF;
}

#pulls li.age-aging {
  background: #f4ab38;
}

#pulls li.age-old {
  background: #f46d1b;
}

#pulls li.unimportant-user.unimportant-repo {
  display: none;
}

#pulls li.ready {
  background: #5c9317;
}

#pulls li h2 {
  margin: 0;
}

#pulls a {
  color: white;
  text-decoration: none;
}

#all-quiet {
  color: #b7b7b7;
  font-size: 3em;
  margin: 1em;
}

.elapsed-time {
  line-height: 110%;
  font-size: 1.25em;
  white-space: nowrap;
}

@media (min-width: 580px) {

  .base-sync {
  }

  .base-sync-ok {
    background-color: green;
  }

  .base-sync-rebase {
    background-color: red;
  }

  .label {
    padding: 3px 6px;
    background: black;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    border-bottom: 2px solid;
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5rem 0 0;
  }

  .comments {
    padding-left: 5px;
  }

  .elapsed-time {
    font-size: 24px;
    font-weight: 100;
    color: white;
    margin-top: -5px;
  }

  h2 {
  }

  p {
    line-height: 1.1;
    font-size: 2rem;
    margin: 1.5rem 0;
    display: block;
    font-weight: 100;
  }

  p a {
    display: block;
  }
}
