* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: ntatabularnumbers, nta, sans-serif;
    background:black;
    margin:10px;
}
.avatar{
    position:absolute;
    width: 80px;
    height: 80px;
    top:10px;
    left:10px;
    border-radius: 5px;
    background-color:white;
}

.username{
    text-shadow: 0 1px 1px black
}

.status{
    padding:7px 10px 10px;
    position:absolute;
    height: 80px;
    width: 100px;
    right:10px;
    top:10px;
}

    .success{
        background-color:green;
    }
    .failure, .error{
        background-color: #BF1E2D;
    }
    .pending{
        background-color: orange;
    }
#pulls {
    list-style:none;
    padding:0;
    font-size:1.5em;
    text-shadow: 0 1px 1px #666;
    margin: 0;
}
#pulls li {
    background:#9FA098;
    padding:10px 120px 15px 100px;

    color:white;
    margin-bottom:10px;
    position:relative;
    min-height:100px;
}
#pulls li:after {
    display:block;
    content:'';
    clear:both;
}
#pulls li.failed {
    background: #B10E1E;
}
#pulls li.age-aging {
    background: #f4ab38;
}
#pulls li.age-old {
    background: #F47738;
}
#pulls li.thumbsup {
    background: #5c9317;
}
#pulls li h2 {
    margin:0;
}
#pulls li p {
    margin:0;
}
#pulls a {
  color: white;
  text-decoration: none;
}
#all-quiet {
    color: #b7b7b7;
    font-size:3em;
    margin:1em;
}

p.comments {
    float:right;
    clear:right;
}
.elapsed-time {
    float:right;
    line-height: 110%;
    font-size: 1.5em;
    font-weight: 700;
}

h2 {
    float:left;
    line-height: 110%;
}
p {
    float:left;
    clear:left;
}
